  .parameters-page {
    display: block;
    margin: auto;
    margin-bottom: 75px;
    width: 50%;
  }

  .parameters-form {
    background: rgb(227 227 227 / 20%);
    padding: 2vw 5vw;
    display: grid;
    gap: 10px;
  }

  .form-title {
    text-align: center;
    font-weight: bold !important;
    margin-bottom: 30px;
  }

  .save-btn {
    background-color: black;
    margin-top: 20px;
}

.margin-top {
    margin-top: 50px;
}

.internal-parameters {
  padding: 5px 15px 30px 15px;
  
  p {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 25px;
    margin-top: 0;
  }
}