<div class="login-page">
  <div class="login-container" [@fadeInOnEnter]>

    <h1 class="form-title">{{loginType=='customers' ? 'התחברות לקוח' : loginType=='agents' ? 'התחברות סוכן' : 'התחברות מנהל'}}</h1>
    
    <div class="grid-container">
      <div class="login-form-wrapper">
        <form [formGroup]="formGroup" class="login-form" autocomplete="off">
          <mat-form-field>
            <mat-label class="email">אימייל</mat-label>
            <input matInput formControlName="email" autocomplete="off" spellcheck="false" />
            <mat-error *ngIf="hasError('email', 'email')">כתובת לא תקינה</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label class="password">סיסמא</mat-label>
            <input matInput type="password" formControlName="password" autocomplete="off" spellcheck="false" />
          </mat-form-field>

          <div class="form-footer">
            <button mat-raised-button (click)="submit()" color="primary" [disabled]="!formGroup.valid || isLoading==true">
              התחבר
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
