<div class="orders-table">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="Date_Received" matSortStart="desc" matSortDisableClear>
      
      <ng-container matColumnDef="Order_Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="Order_Id"> מס׳ הזמנה </th>
        <td mat-cell *matCellDef="let element">
          {{element.Order_Id}}
        </td>
      </ng-container>
      
      <ng-container matColumnDef="Date_Received">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="Date_Received"> תאריך </th>
        <td mat-cell *matCellDef="let element">
          {{element.Date_Received | date:'dd/MM/YYYY'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="Status"> סטטוס הזמנה </th>
        <td mat-cell *matCellDef="let element">
          {{element.Status}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Items">
        <th mat-header-cell *matHeaderCellDef> מוצרים </th>
        <td mat-cell *matCellDef="let element">
          <div class="items">
            <div class="item" *ngFor="let item of element.items">
              <div class="item-item">
                <img mat-card-image [ngClass]="{'hidden': !item.Image_Loaded}" (load)="item.Image_Loaded = true"
                (error)="setDefaultPic(item)" [attr.src]="item.Image" alt="{{item.Name}}">
                <div>{{item.Name}}</div>
              </div>
              <div class="item-size">מידה: {{item.Size}}</div>
              <div class="item-quantity">כמות: {{item.Quantity}}</div>
              <div class="item-price">מחיר: {{item.Quantity * item.Price | currency: 'ILS'}}</div>
            </div>
            <div class="item item-discount">
              <div class="item-item"></div>
              <div>הנחת לקוח</div>
              <div>{{customer.Discount}}%</div>
            </div>
            <div class="item-total">
              סה״כ לאחר הנחה: {{element.total | currency: 'ILS'}}
              <button mat-button class="duplicate-button" (click)="duplicateOrder(element)">הזמן שוב</button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>