<div class="navbar">
    <img class="logo" src="assets/top-logo.jpeg" alt="MGS" (click)="goHome()">
    <h1 class="title">מערכת הזמנות</h1>
    <div class="search-box">
      <mat-form-field class="search">
        <mat-icon matSuffix>search</mat-icon>
        <input type="text" matInput>
      </mat-form-field>

      <div *ngIf="!!customer" [routerLink]="['/cart']" matBadge="{{getCartLength()}}" matBadgeOverlap="false" matBadgePosition="above before" class="cart">
        <mat-icon>shopping_cart</mat-icon>
      </div>

      <mat-icon>favorite</mat-icon>
      <mat-icon>phone</mat-icon>
      <mat-icon (click)="logout()">logout</mat-icon>
    </div>
</div>

<p class="go-back" (click)="goBack()"> <- חזור לדף הקודם </p>

<section [@fadeInOnEnter] [@fadeOutOnLeave]>
  <router-outlet></router-outlet>
</section>

<footer>
  <a [routerLink]="">צור קשר</a>
  <a [routerLink]="">תקנון</a>
  <a [routerLink]="">אודות</a>
</footer>
